/*
editorcoder
2025-11-13
SRJC CS55.13 Fall 2025
Week 13: Assignment 13: Custom SQL in Headless CMS-Powered App
posts.module.css
*/

.post {
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  line-height: 1.3;
  overflow: scroll;
}

.postBody {
  padding: 1.2rem;
}

.postTitle {
  padding: 0.6rem 1.2rem;
  font-size: 2rem;
  background-color: #2ac1b5;
  border-radius: 1rem 1rem 0 0;
}

.postDate {
  padding: 0.4rem 1.2rem;
  border-bottom: solid grey 0.15rem;
  font-size: 1rem;
  font-style: italic;
}

.postImage {
  padding: 1.2rem;
  border-bottom: solid grey 0.15rem;
  display: flex;
  justify-content: center;
}

.featuredImage {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

@media (min-width: 769px) {
  .featuredImage {
    width: 50%;
  }
}