/*
editorcoder
2025-11-13
SRJC CS55.13 Fall 2025
Week 13: Assignment 13: Custom SQL in Headless CMS-Powered App
global.css
*/

:root {
  /* Colors */
  --color-link: #004191;
  --color-accent: #2ac1b5;
  --color-text: black;
  --color-bg: white;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.1;
  font-size: 1.1rem;
}

body {
  background-color: var(--color-bg);
}

h1 {
  font-weight: 800;
  letter-spacing: 0.08rem;
  margin: 1rem 0;
}

h1.home {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
}

h1.notHome {
  font-size: 2rem;
  line-height: 1.3;
}

h2 {
  text-align: start;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0.5rem 0 0.8rem;
  font-weight: 600;
}

h3 {
  text-align: start;
  font-size: 1.3rem;
  font-weight: 600;
}

p {
  padding: 0;
  margin: 0 0 1rem 0;
}

section {
  margin: 0.8rem 0;
  font-size: 1.2rem;
}

section.homeIntro {
  margin: 1.2rem 0 0 0;
  line-height: 1.3;
  border-bottom: solid black 0.15rem;
}

a {
  color: var(--color-link);
}

img {
  max-width: 100%;
  display: block;
}

.profileImage {
  border-radius: 9999px;
}

.blogPosts {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;

  a:any-link {
    /* Styles for both unvisited and visited links */
    text-decoration: none;
  }

  .postCard {
    margin: 0;
    padding: 0.5rem;
    border: solid var(--color-text) 0.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
    text-align: center;

    h3 {
      text-decoration: underline;
      text-align: center;
      margin: 0.2rem 0.5rem;
    }

    .postDate {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-style: italic;
      font-weight: 400;
      color: var(--color-text);
    }

  }

  .postCard:hover {
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.4);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}



.colorInherit {
  color: inherit;
}