/*
editorcoder
2025-11-13
SRJC CS55.13 Fall 2025
Week 13: Assignment 13: Custom SQL in Headless CMS-Powered App
global.css
*/

*,
html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.1;
  font-size: 1.1rem;
  background-color: white;
}

a {
  color: #004191;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0 0 1rem 1rem;
}

p {
  padding: 0;
  margin: 0 0 1rem 0;
}

p:first-of-type {
  margin-top: 0.5rem;
}

h2 {
  text-align: left;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  margin: 1rem auto 2rem auto;
  text-align: start;
}

td {
  text-align: start;
  padding: 0.4rem 0.6rem;
}

th {
  text-align: center;
  padding: 0.4rem;
}

th,
td {
  border: solid black 0.1rem;
}

thead {
	border-block-end: 0.2rem solid;
	background-color: lightgray;
}
